.membership-form {
  display: grid;
  position: relative;
}

.membership-input-container {
    position: absolute;
}

.membership-input {
  flex-basis: 100%;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border: none;
  font-size: 1.6rem;
}

.membership-input:focus {
  outline: none;
}

.membership-btn {
  justify-self: center;
  width: 100%;
  max-width: 20rem;
  padding: 1.5rem 3rem;
}

.membership-input-message {
    flex-basis: 100%;
    text-align: start;
    margin: 1rem 0;
    color: #ffa00a;
    font-size: 1.5rem;
    content: '';
}

.membership-placeholder {
	position: absolute;
	color: #8c8c8c;
	top: 50%;
	left: 1rem;
	z-index: 10;
	transform: translateY(-50%);
	font-size: 1.4rem;
	transition: all 0.3s ease-in-out;
}


/* 
.membership-input-container.on-focus .membership__placeholder {
	top: 1rem;
	font-size: 1.2rem;
}

.form__cta {
	font-size: 1.6rem;
	margin: 1rem 0;
	font-weight: 600;
}